/* line 23, ../sass/style.scss */
h1 {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font: 3rem sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 10vh;
  height: 10vh;
}

/* line 33, ../sass/style.scss */
.myClass1 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #0f698e;
  color: #0f698e;
}
/* line 17, ../sass/style.scss */
.myClass1:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 34, ../sass/style.scss */
.myClass2 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #0e5f80;
  color: #0e5f80;
}
/* line 17, ../sass/style.scss */
.myClass2:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 35, ../sass/style.scss */
.myClass3 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #0c5473;
  color: #0c5473;
}
/* line 17, ../sass/style.scss */
.myClass3:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 36, ../sass/style.scss */
.myClass4 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #0b4a65;
  color: #0b4a65;
}
/* line 17, ../sass/style.scss */
.myClass4:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 37, ../sass/style.scss */
.myClass5 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #094057;
  color: #094057;
}
/* line 17, ../sass/style.scss */
.myClass5:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 38, ../sass/style.scss */
.myClass6 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #083649;
  color: #083649;
}
/* line 17, ../sass/style.scss */
.myClass6:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 39, ../sass/style.scss */
.myClass7 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #062c3b;
  color: #062c3b;
}
/* line 17, ../sass/style.scss */
.myClass7:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 40, ../sass/style.scss */
.myClass8 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #05222e;
  color: #05222e;
}
/* line 17, ../sass/style.scss */
.myClass8:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 41, ../sass/style.scss */
.myClass9 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #031720;
  color: #031720;
}
/* line 17, ../sass/style.scss */
.myClass9:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 42, ../sass/style.scss */
.myClass10 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #020d12;
  color: #020d12;
}
/* line 17, ../sass/style.scss */
.myClass10:hover {
  background-color: #FFF;
  color: #FFF;
}
