/* line 22, ../sass/style.scss */
h1 {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font: 3rem sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 10vh;
  height: 10vh;
}

/* line 32, ../sass/style.scss */
.myClass1 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #184614;
  color: #184614;
}
/* line 16, ../sass/style.scss */
.myClass1:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 33, ../sass/style.scss */
.myClass2 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #143a10;
  color: #143a10;
}
/* line 16, ../sass/style.scss */
.myClass2:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 34, ../sass/style.scss */
.myClass3 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #102e0d;
  color: #102e0d;
}
/* line 16, ../sass/style.scss */
.myClass3:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 35, ../sass/style.scss */
.myClass4 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #0c220a;
  color: #0c220a;
}
/* line 16, ../sass/style.scss */
.myClass4:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 36, ../sass/style.scss */
.myClass5 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #081606;
  color: #081606;
}
/* line 16, ../sass/style.scss */
.myClass5:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 37, ../sass/style.scss */
.myClass6 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: #040a03;
  color: #040a03;
}
/* line 16, ../sass/style.scss */
.myClass6:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 38, ../sass/style.scss */
.myClass7 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: black;
  color: black;
}
/* line 16, ../sass/style.scss */
.myClass7:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 39, ../sass/style.scss */
.myClass8 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: black;
  color: black;
}
/* line 16, ../sass/style.scss */
.myClass8:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 40, ../sass/style.scss */
.myClass9 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: black;
  color: black;
}
/* line 16, ../sass/style.scss */
.myClass9:hover {
  background-color: #FFF;
  color: #FFF;
}

/* line 41, ../sass/style.scss */
.myClass10 {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 2s, 0.1s;
  -o-transition-duration: 2s, 0.1s;
  -webkit-transition-duration: 2s, 0.1s;
  transition-duration: 2s, 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background-color: black;
  color: black;
}
/* line 16, ../sass/style.scss */
.myClass10:hover {
  background-color: #FFF;
  color: #FFF;
}
