$orange: #F68A5E;
$gray: #E7E7E7;
$darkGray: #E5E5E5;
$white: #FFF;

body{
	background-color: $gray;
	font-family: sans-serif;
}

.left{
	position: fixed;
	height: 100%;
	width: 20%;
}

.right{
	background-color: $white;
	position: absolute;
	height: auto;
	width: 80%;
	height: 100vh;
	right: 0;
}

.logo{
	background-color: $orange;
	margin-right: 1rem;
	margin-left: 1rem;
	font-size: 2.5rem;
	font-weight: bolder;
	color: white;
	padding: 3rem;
}

.nav{
	margin-right: 1rem;
	margin-left: 1rem;
	margin-top: 1rem;
	text-align: right;
	li{
		background-color: $white;
		margin-bottom: 1rem;
		// display: inline-block;
	}
}